# === ENVIRONMENT FILES ===
.env
.env.test

# === DEPENDENCIES ===
node_modules/
bower_components/

# === LOG FILES ===
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === SYSTEM FILES ===
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# === IDE FILES ===
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak

# === BUILD / CACHE ===
.cache
coverage/
.nyc_output
.yarn-integrity
.next
lib-cov
.grunt
.npm
.eslintcache
.node_repl_history
*.tgz

# === DEPLOYMENT ===
*.pem
deploy.sh

# === AWS ELASTIC BEANSTALK ===
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# === DATA FILES ===

# ignore files inside unless whitelisted
/public/data/local/
/public/data/production/

# Always keep the base folders (so Git tracks the structure)
!/public/data/
!/public/data/local/
!/public/data/production/

# Ignore all JSON files in these folders
/public/data/local/*.json
/public/data/production/*.json

