/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Light theme colors */
:root {
    --primary-bg: #FFFFFF;
    --secondary-bg: #F5F5F5;
    --primary-text: #212121;
    --secondary-text: #757575;
    --accent-color: #3F51B5;
    --button-bg: #e1dbdbec;
    --button-hover-bg: #D5D5D5;
    --border-color: #BDBDBD;
    --input-bg: #FFFFFF;
    --input-border: #BDBDBD;
}

/* Dark theme colors */
body.dark-theme {
    --primary-bg: #303030;
    --secondary-bg: #424242;
    --primary-text: #FFFFFF;
    --secondary-text: #BDBDBD;
    --accent-color: #3F51B5;
    --button-bg: #616161;
    --button-hover-bg: #757575;
    --border-color: #757575;
    --input-bg: #424242;
    --input-border: #757575;
}

/* Body styles */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: var(--primary-bg);
    color: var(--primary-text);
    padding: 20px;
}

/* Header styles */
header {
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-text);
}

/* Main section styles */
main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Section styles */
section {
    background-color: var(--secondary-bg);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 20px;
    position: relative; /* Positioning for button */
    color: var(--primary-text);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s; /* Add transition */
}

.one-section .col.s12 > section {
    width: 100%; /* Full width for single section */
}

section:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Section header styles */
section h2 {
    margin-bottom: 10px;
    color: var(--primary-text);
}

/* Data container styles */
.data-container {
    margin-top: 10px;
}

/* Footer styles */
footer {
    text-align: center;
    margin-top: 20px;
    color: var(--secondary-text);
}

/* Button styles */
.pause-button, #themeToggleButton, .pagination-controls button {
    background-color: var(--button-bg);
    color: var(--primary-text);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.pause-button.paused {
    background-color: #f44336; /* Red */
}

.pause-button:hover, #themeToggleButton:hover, .pagination-controls button:hover {
    background-color: var(--button-hover-bg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Theme toggle button styles */
#themeToggleButton {
    background-color: #04c4b1;
    color: var(--primary-text);
    border: none;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#themeToggleButton:hover {
    background-color: var(--button-hover-bg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Google Maps input styles */
.controls {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    height: 29px;
    margin-left: 17px;
    margin-top: 10px;
    outline: none;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
}

/* Info Window Styles */
.info-window {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    background-color: var(--secondary-bg);
    color: var(--primary-text);
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.info-window h3 {
    margin: 0 0 10px 0;
    color: var(--primary-text);
}

.info-window p {
    margin: 0;
    color: var(--secondary-text);
}

/* Ensure trend items handle overflow properly */
.trend-item {
    overflow: auto;
    white-space: normal;
    word-wrap: break-word;
    margin-bottom: 20px; /* Add some space between trend items */
    transition: transform 0.3s, box-shadow 0.3s;
}

.trend-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Ensure images and videos are displayed properly */
.trend-item img, .trend-item video {
    max-width: 100%;
    height: auto;
    display: block; /* Ensure images and videos are block elements */
    margin: 10px 0; /* Add some space around images and videos */
}

/* Ensure paragraphs within trend items are visible */
.trend-item p {
    margin: 0;
    padding: 5px 0;
    color: var(--primary-text);
}

/* Ensure list items within trend items are styled properly */
.trend-item ul {
    padding-left: 20px; /* Add some padding to the left of the list */
}

.trend-item li {
    margin-bottom: 10px; /* Add some space between list items */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 999px) {
    body {
        padding: 5px;
        width: 99%; /* Set width to 85% on mobile */
        margin: 0 auto;
    }

    main {
        flex-direction: column;
        gap: 10px;
    }

    section {
        width: 100%;
        padding: 5px;
    }

    .chart-container {
        height: 70vh;
        width: 100% !important;
        margin: 0 auto;
    }

    #finance-content {
        width: 95%;
        margin: 0 auto;
        padding: 10px 0;
    }

    header, footer {
        text-align: center;
    }

    .btn {
        padding: 0 10px;
        font-size: 12px;
    }
}

/* News item styles */
.news-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--secondary-bg);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.news-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.news-thumbnail {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
    object-fit: cover;
}

.news-item h3 {
    margin: 10px 0;
    color: var(--primary-text);
    text-align: center;
    width: 100%;
    font-size: 1.8em; /* Increased font size for the title */
}

.news-item p {
    color: var(--secondary-text);
    text-align: center;
    width: 100%;
    font-size: 1.3em; /* Increased font size for the paragraph */
}

.news-item a {
    color: var(--accent-color);
    text-decoration: none;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.news-item a:hover {
    text-decoration: underline;
}

/* Pagination styles */
.pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-controls button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.pagination-controls button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Reddit item styles */
.reddit-item {
    transition: transform 0.3s, box-shadow 0.3s;
}

.reddit-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Reddit thumbnail styles */
.reddit-thumbnail {
    width: 100%; /* Ensure the image takes full width of its container */
    max-width: 300px; /* Increase the max-width to make images larger */
    height: auto; /* Maintain aspect ratio */
    border-radius: 4px;
    margin-bottom: 10px;
    object-fit: cover; /* Ensure the image covers the area without distortion */
}

/* Reddit video styles */
.reddit-video {
    width: 100%; /* Ensure the video takes full width of its container */
    max-width: 300px; /* Set a max-width for the video */
    height: auto; /* Maintain aspect ratio */
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Ensure full width for sections */
.section {
    width: 100%;
}

/* Ensure proper layout for data containers */
.data-container {
    margin-top: 20px;
}

/* Section header styles */
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topic-button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Change to desired button color */
    border: none;
    margin:2px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.topic-button:hover {
    background-color: #45a049; /* Change to desired hover effect */
}

/* Chart container base styles */
.chart-container {
    height: 400px;
    position: relative;
    z-index: 0;
    width: 100%;
    transition: height 0.3s ease;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}



/* Autocomplete styles */
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white; /* Ensure background is white */
}

.autocomplete-item {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
}

.autocomplete-item:hover {
    background-color: #e9e9e9; /* Highlight on hover */
}

#stockSymbolInput {
    width: 100%; /* Ensures the input fits within its parent container */
    box-sizing: border-box; /* Includes padding and border in the element's total width */
}

/* Chat styles */
.chat-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#chat-log {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 10px;
    background-color: var(--secondary-bg);
}

#chat-input {
    width: 99%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    color: #000; /* Default text color for light mode */
    background-color: #fff; /* Default background color for light mode */
}

/* Dark mode styles */
body.dark-theme #chat-input {
    color: #fff; /* Text color for dark mode */
    background-color: #333; /* Background color for dark mode */
}

#MapsInput {
    width: 40%;;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0%;
}

#MapsInput::placeholder {
    color: grey; /* Change to your desired color */
    font-weight: bold;
}

.fullscreen-pac-container[style]{
    z-index: 2547483647 !important;
    top:50px !important;
}

/* Add these styles for the chart scrollbar */
.chart-container::-webkit-scrollbar {
    height: 12px;
}

.chart-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.chart-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.chart-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* For Firefox */
.chart-container {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

/* Hide slider by default */
.chart-slider {
    display: none;
    width: 100%;
    margin-top: 10px;
}

/* Add this to ensure slider doesn't interfere with other elements */
.chart-container {
    position: relative;
    z-index: 0;
}

/* Add new rule for container class */
.container {
    width: 99% !important; 
    max-width: none !important; /* Remove max-width restriction */
}

/* Zoom control styles */
.zoom-controls {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 3;
}

.zoom-button {
    background-color: var(--button-bg);
    color: var(--primary-text);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.zoom-button:hover {
    background-color: var(--button-hover-bg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.fullscreenButton {
    background-color: var(--button-bg);
    color: var(--primary-text);
    border: none;
    width: 40px;  /* Adjusted width for the + and - symbols */
    height: 40px; /* Adjusted height for the button */
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px; /* Adjusted font size for better visibility */
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.fullscreenButton:hover {
    background-color: var(--button-hover-bg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* Hide zoom buttons on mobile */
@media screen and (max-width: 768px) {
    .zoom-controls {
        display: none;
    }
}

.pause-button {
    display: none; /* Hidden by default */
    margin-top: 10px;
}

/* Button styles for finance section */
#finance .btn {
    margin: 5px;
    background-color: #4CAF50; /* Green */
    color: white;
}

#finance .btn:hover {
    background-color: #45a049; /* Darker green */
}

/* Title styles */
.article-title {
    font-size: 1.8em; /* Adjust as needed */
    color: var(--primary-text);
    text-align: center;
    margin: 10px 0;
}

/* Article text styles */
.article-text {
    font-size: 1.3em; /* Adjust as needed */
    color: var(--secondary-text);
    text-align: center;
    margin: 10px 0;
}

/* Article descriptor styles */
.article-descriptor {
    font-size: 1em; /* Adjust as needed */
    color: var(--secondary-text);
    text-align: center;
    margin: 5px 0;
}

/* Override Materialize CSS styles for select dropdown input in dark mode */
body.dark-theme .select-dropdown {
    background-color: #424242; /* Dark background for the input */
    color: #FFFFFF; /* White text for the input */
}

/* Ensure the dropdown options have a dark background */
body.dark-theme .dropdown-content {
    background-color: #424242; /* Dark background for dropdown options */
    color: #FFFFFF; /* White text for dropdown options */
}

/* Ensure the label is visible in dark mode */
body.dark-theme .input-field label {
    color: #BDBDBD; /* Light text for labels */
}

/* Additional styles to ensure dropdown text is white */
body.dark-theme .input-field select option {
    color: #FFFFFF; /* White text for options */
    background-color: #424242; /* Dark background for options */
}

/* Styles for the stock symbol input in dark mode */
body.dark-theme #stockSymbolInput {
    background-color: #424242; /* Dark background for the input */
    color: #FFFFFF; /* White text for the input */
    border: 1px solid #757575; /* Border color */
}

/* Placeholder text color in dark mode */
body.dark-theme #stockSymbolInput::placeholder {
    color: #BDBDBD; /* Light color for placeholder text */
}

/* Styles for autocomplete items in dark mode */
body.dark-theme .autocomplete-items {
    background-color: #424242; /* Dark background for autocomplete dropdown */
    color: #FFFFFF; /* White text for autocomplete items */
}

/* Styles for individual autocomplete items */
body.dark-theme .autocomplete-item {
    background-color: #424242; /* Dark background for each item */
    color: #FFFFFF; /* White text for each item */
}

/* Highlight on hover for autocomplete items */
body.dark-theme .autocomplete-item:hover {
    background-color: #616161; /* Slightly lighter background on hover */
}

/* Add this to your styles.css */
#news-content, #trends-content, #reddit-content {
    height: 600px; /* Set a fixed height based on the maximum expected content */
    overflow-y: auto; /* Allow vertical scrolling if content exceeds max height */
}

/* Hide scrollbars for WebKit browsers (Chrome, Safari) */
#news-content::-webkit-scrollbar, 
#trends-content::-webkit-scrollbar,
#reddit-content::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

/* Hide scrollbars for Firefox */
#news-content {
    scrollbar-width: none; /* Hide scrollbar */
}

#trends-content {
    scrollbar-width: none; /* Hide scrollbar */
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333; /* Background color */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Padding */
    cursor: pointer; /* Pointer cursor on hover */
    z-index: 1000; /* Ensure it is above other elements */
    transition: opacity 0.3s, background-color 0.3s; /* Smooth transition for opacity and background color */
    display: flex; /* Flexbox for centering text */
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
    font-size: 16px; /* Font size */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Shadow for depth */
}

.scroll-to-top:hover {
    background-color: #555; /* Darker background on hover */
}